.login,
.register {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #201240;
    position: relative;
    z-index: 0;
}

.msg-div {
    position: relative;
    z-index: 1;
}

.msg {
    font-size: 40px;
    color: white;
}

.login>span,
.login>.pass-reset>span,
.register>span {
    color: white;
    font-size: 60px;
}

.login>form,
.register>form {
    width: 50%;
    display: flex;
    flex-direction: column;
}



input[type=text],
input[type=email],
input[type=password],
input[type=submit] {
    font-family: 'Comfortaa';
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #f28e13;
    background-color: #0e0b26;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 400;
}

input[type=submit] {
    background-color: #f28e13;
    border: 1px solid #0e0b26;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f9dc2b;
    color: black;
}

:-webkit-autofill {
    background-color: #502D73 !important;
    color: white !important;
}

.exitBt {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #121212;
    background-color: #fd5742;
    color: #121212;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}

.exitBt:hover {
    background-color: #ff1e00;
}

.login>a:hover,
.register>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pass-reset {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    background-color: #121212;
    border-radius: 10px;
    border: 1px solid #f28e13;
}