.main-bar {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0B26;
    color: white;
    position: relative;
    z-index: 2;
}

.main-bar>* {
    margin: 10px;
}

.logo {
    margin-left: 40px;
    font-size: 50px;
    line-height: calc(10vh - 10px);
}

ul.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    list-style-type: none;
}

ul.nav a:last-child {
    margin-right: 40px;
    border-radius: 0 10px 10px 0;
}

ul.nav a:first-child {
    border-radius: 10px 0 0 10px;
}

ul.nav>a {
    text-decoration: none;
    display: block;
    padding: 10px 24px;
    cursor: pointer;
    background-color: #f28e13;
}

ul.nav>a:hover {
    background-color: #f9dc2b;
    color: #212121
}

a {
    text-decoration: none;
    color: white;
}